<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Dropzone simple example</title>
  <script src="../javascripts/dropzone.js"></script>
  <link rel="stylesheet" href="/stylesheets/dropzone.css" />
  <link rel="stylesheet" href="/stylesheets/dropzone_edit.css" />
</head>
<body>
  <div style="width:70%; margin:0px auto; ">
    <form id ="myId" class="dropzone" enctype="multipart/form-data">
      <span class="glyphicon glyphicon-download"></span><br/>
    </form>
    <br>
    <div id="image_list">
      <span id="hide" style="display: none"> Link to uploaded images </span><a id="link" href="#" target="_blank"></a>
    </div>
  </div>
  <script src="../javascripts/upload.js">
  </script>  
</body>
