html * {
   /*color: #ffffff !important;*/
   /*font-family: Arial !important;*/
   /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
   font-weight: 10;
   font-size: 8px;
   cursor: cell !important;
   transition: background-color .5s;
   overflow-x: hidden !important;
   overflow-y: hidden !important;
}

html, body {
  background: #000000;
  padding: 0;
  margin: 0;
}
