html * {
   /*color: #ffffff !important;*/
   /*font-family: Arial !important;*/
   /*font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;*/
   font-weight: 10;
   font-size: 8px;
   cursor: cell !important;
   transition: background-color .5s;
   overflow-x: hidden !important;
   overflow-y: hidden !important;
}

html, body {
  background: #000000;
  padding: 0;
  margin: 0;
}
/*
body.fadeOut {
    -webkit-transition: 3s;
    -moz-transition: 3s;
    -ms-transition: 3s;
    -o-transition: 3s;
    transition: 3s;
    opacity: 0;
}
body.fadeIn {
    opacity: 1;
}*/


[nexus-ui] {
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150,150,150,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150,150,150,1);
  box-shadow: 0px 0px 0px 1px rgba(150,150,150,1);
  overflow: hidden;
}


.oscilloscope {
  position: absolute;
  margin: auto;
  left: 5%;
  bottom: 3%;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(150,150,150,1);
  -moz-box-shadow: 0px 0px 0px 1px rgba(150,150,150,1);
  box-shadow: 0px 0px 0px 1px rgba(150,150,150,1);
}
/*
.synthvolume {
  position: absolute;
  right: 3%;
  top: 20%;
  border: auto;
  background-color: rgba(150,150,150,1);
}

.backgroundvolume {
  position: absolute;
  right: 7%;
  top: 20%;
  border: auto;
  background-color: rgba(150,150,150,1);
}

.mainvolume {
  position: absolute;
  right: 11%;
  top: 20%;
  border: auto;
  background-color: rgba(150,150,150,1);
}
*/
.sidenav {
  height: 0%;
  width: 100%;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(100,100,100,1);
  overflow-x: hidden;
  overflow-y: hidden;
  transition: 0.3s;
}

#maincontrols {
  position: absolute;
  right: 1%;
  top: 3%;
}
/*
.oscillatorHarmonicity {
  position: absolute;
  left: 125px;
  top: 10px;
}

.modulationEnvelopeAttack {
  position: absolute;
  left: 125px;
  top: 30px;
}

.modulationEnvelopeDecay {
  position: absolute;
  left: 125px;
  top: 50px;
}

.modulationEnvelopeSustain {
  position: absolute;
  left: 125px;
  top: 70px;
}

.modulationEnvelopeRelease {
  position: absolute;
  left: 125px;
  top: 90px;
}

.reverbRoomSize {
  position: absolute;
  left: 125px;
  top: 110px;
}

.reverbWetValue {
  position: absolute;
  left: 125px;
  top: 130px;
}

.reverbDampValue {
  position: absolute;
  left: 125px;
  top: 155px;
}
*/
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/* FADE IN */


.topLeftPage {
  position: absolute;
  top: 1%;
  left: 1%;
  width: 20%;
  height: 15%;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  overflow: hidden;
}

.topRightPage {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 25%;
  height: 10%;
  color: #ffffff;
  background-color: rgba(0,0,0,0);
  }

.botLeftPage {
  position: absolute;
  bottom: 0px;
  left: 2%;
  width: 25%;
  height: 25%;
  background-color: rgba(0,0,0,0);
  color: #ffffff;
  word-wrap: break-word;
  overflow: hidden;
}

.botRightPage {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 15%;
  height: 25%;
  /*opacity: 0;*/
  color: #ffffff;
  background-color: rgba(0,0,0,0);
}


/* FADE IN */

.fade-in {
  animation: fadeIn ease 2s;
  -webkit-animation: fadeIn ease 2s;
  -moz-animation: fadeIn ease 2s;
  -o-animation: fadeIn ease 2s;
  -ms-animation: fadeIn ease 2s;
}

@keyframes fadeIn{
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@media (max-width: 992px) {
    .navbar{
      display:none;
    }
}



/* -------------------------------------LOADER -------------------------------------*/
.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.introLoadTimer {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../img/load.gif") center no-repeat #000000;
}
/* ---------------------------------------------------------------------------------*/
/* HIDE THINGS ON MOBILE */

@media screen and (max-width: 600px) {
  .topRightPage {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .topLeftPage {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .botRightPage {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
  .botLeftPage {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}


/*------------------- NAVBAR ------------------------*/

.muteButton {
  position: absolute;
  right: 2%;
}

.connectButton {
  position: absolute;
  right: 8%;
}

.instrumentoUm {
  position: absolute;
  width: 70%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(255,0,0,1);
  transition: 0.3s;

}
.instrumentoDois {
  position: absolute;
  width: 70%;
  height: 0%;
  /*overflow-x: hidden;
  overflow-y: hidden;*/
  background-color: rgb(0,255,0,1);
  transition: 0.3s;

}
.instrumentoTres {
  position: absolute;
  width: 70%;
  height: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(0,0,255,1);
  transition: 0.3s;

}
.instrumentoQuatro {
  position: absolute;
  width: 70%;
  height: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(255,255,255,1);
  transition: 0.3s;

}
.instrumentoCinco {
  position: absolute;
  width: 70%;
  height: 0%;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: rgb(0,0,0,1);
  transition: 0.3s;

}

/*NEW GUI*/

.wui-dialog-header {
  height: 500px;
}
