@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/
*/
* {
	box-sizing: border-box;
	max-width: 100%;
}
img, object, embed, video {
	max-width: 100%;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url("http://stormfantasy.com/styles/Proxima Nova Bold.otf");
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		4;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	12;
	dw-gutter-percentage:	25;

	Inspiration from "Responsive Web Design" by Ethan Marcotte
	http://www.alistapart.com/articles/responsive-web-design

	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

.fluid {
	clear: both;
	margin-left: 0;
	width: 100%;
	float: left;
	display: block;
}

.fluidList {
    list-style:none;
    list-style-image:none;
    margin:0 0 0 0;
    padding:0;
}
body {
    margin: 0;
    animation: test infinite 10s alternate;
    background-color: #001CA8;
}
      @keyframes test {
        70% { background-color: rgb(2, 14, 73);}
        90% { background-color: #001CA8;}
      }
a {
	font-family: 'Work Sans', sans-serif;
	color: #ffffff;
    /* color: rgb(238, 32, 32);
    text-decoration: none;
    text-shadow: 1px 1px #ee2020, 0 0 0em #39c9ee, 0 0 0.0em #39c9ee; */
    font-size: 45px;
}
a:hover {
	color: #000082;
	background-color: #ffffff;
	/* color: rgb(255, 255, 255);
	background-color: #000082; */
}

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 86.45%;
	padding-left: 2.275%;
	padding-right: 2.275%;
	clear: none;
	float: none;
}
#div1 {
}
.zeroMargin_mobile {
    margin-left: 0;
}
.hide_mobile {
    display: none;
}

/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {

.gridContainer {
	width: 100%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
	clear: none;
	float: none;
	margin-left: auto;
}
#div1 {
}
.zeroMargin_tablet {
    margin-left: 0;
}
.hide_tablet {
    display: none;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {

.gridContainer {
	margin-left: 0px;
	clear: none;
	float: none;
}
#div1 {
	margin-top: 70px;
}
.zeroMargin_desktop {
    margin-left: 0;
}
.hide_desktop {
    display: none;
}
h2 {
	font-family: 'Work Sans';
	color: #ffffff;
	font-size: 40px;
}
.main-text {
	font-family: 'Work Sans';
	color: #ffffff;
	font-size: 50px;
}
.main-text:hover {
	color: #ffffff;
	background-color: #000082;
}
.sub-text {
	font-family: 'Work Sans';
	color: #ffffff;
	font-size: 30px;
}
.sub-text-2 {
	font-family: 'Work Sans';
	color: #ffffff;
	font-size: 30px;
}
.sub-text-2:hover {
	color: #000082;
	background-color: #ffffff;
}
.title-label {
	color: #000082;
	background-color: #ffffff;
}
.breadcrumb {
	position: fixed;
	top: 0px;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #ED1A3B;
	font-family: 'Work Sans';
	color: #ffffff;
	font-size: 20px;
}
.form {
	font-family: 'Work Sans';
	color: #ffffff;
	font-size: 40px;
}
.form-title {
	color: #000082;
	background-color: #ffffff;
}
.form-title:hover {
	color: #ffffff;
	background-color: #000082;
}
input[type=text] {
	font-size: 30px;
	width: 500px;
	height: 70px;
	padding: 5px;
}
input[type=text]:focus {
	border: 2px solid rgb(255, 254, 254);
	background-color: #000082;
	color: #ffffff;
}
input[type=date] {
	font-size: 30px;
	width: 500px;
	height: 70px;
	padding: 5px;
}
input[type=date]:focus {
	border: 2px solid rgb(255, 254, 254);
	background-color: #000082;
	color: #ffffff;
}
.footer {
	font-family: 'Work Sans', sans-serif;
	font-size: 50px;
	color: #ffffff;
    margin-top: 100px;
    margin-bottom: 100px;
}
.button-box-flex {
	display: flex;
	padding-top: 30px;
	padding-bottom: 50px;
	width: 100%;
	max-width: 600px;
}
.button-red {
	/* background: #f80f0f; */
	background-color: transparent;
	/* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.50); */
	width: 500px;
	height: 70px;
	border: 2px solid #ED1A3B;
	/* padding: 15px 60px 15px 60px; */
	font-family: 'Work Sans' , sans-serif;
	font-size: 40px;
	color: #ffffff;
	text-align: center;
}
.button-red:hover {
	background: #ED1A3B;
	cursor: pointer;
}
.button-white {
	/* background: #f80f0f; */
	background-color: transparent;
	/* box-shadow: 0 5px 10px 0 rgba(0,0,0,0.50); */
	width: 500px;
	height: 70px;
	border: 2px solid rgb(255, 255, 255);
	/* padding: 15px 60px 15px 60px; */
	font-family: 'Work Sans' , sans-serif;
	font-size: 40px;
	color: #ffffff;
	text-align: center;
}
.button-white:hover {
	background: #000082;
	color: #ffffff;
	cursor: pointer;
}
.logo {
	display: flex;
	justify-content: left;
  	align-items: center;
	text-decoration: none;
}
.logo-index {
	display: flex;
	justify-content: center;
  	align-items: center;
	text-decoration: none;
	margin-top: 50px;
	margin-bottom: 200px;
}
#algo-letters {

  width: 100%;
}
.letters {
	fill: #ffffff;
}
}



body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,180,1);
  outline: 1px solid slategrey;
}


#project1:hover {
	background-color: white !important;
	background-image: url('') !important;
	font-size: 25px;

}
#project2:hover {
	background-color: white !important;
	background-image: url('') !important;
	font-size: 25px;
}
