body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: rgba(150,150,150,1);
  font-style: italic;
}

a {
  color: #00B7FF;
}

.bodyPlace {
  position: absolute;
  width: 80%;
  left: 10%;
  top: 5px;
  height: 95%;
  /*background-color: rgba(200,200,200,1);*/
  text-align: center;
  vertical-align: middle;
}

.imageupload {
  position: relative;
  width: 50%;
  left: 25%;
  top: 5px;
  height: 25%;
  background-color: rgba(200,200,200,1);
  text-align: center;
  vertical-align: middle;
  border: 2px solid black;
}

.myId {
  position: absolute;
  width: 25%;
  left: 1%;
  top: 10px;
  height: 10%;
}

#myId {
  position: relative;
  background-color: rgba(200,200,200,1);
  border: 2px solid black;
}

.mobileorient {
  position: relative;
  width: 50%;
  left: 25%;
  height: 30%;
  background-color: rgba(200,200,200,1);
  text-align: center;
  vertical-align: middle;
  border: 2px solid black;
}

#myId {
  position: absolute;
  left: 10px;
}


h2 {
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
}

.content {
  width: 50%;
  margin: 0 auto;
}

section {
  margin-top: 5px;
}

.demo {
  min-height: 200px;
  background-color: rgba(200,200,200,1);
  border: 2px solid black;
}

.demo>span {
  text-align: center;
}

.network {
  padding: 8px;
  background: white;
  margin: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 152px;
}

.network img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.network {
  color: #030303;
  text-decoration: none !important;
}

.battery {
  position: relative;
  width: 50%;
  left: 25%;
  height: 10%;
  background-color: rgba(200,200,200,1);
  border: 2px solid black;

}
